.current {
    top: auto;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35.7143px;
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

.progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
    padding: 0 10px;
}